*{
    margin: 50;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left 8%;
    padding-right 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 300px;
    cursor: pointer;
    margin: 30px 0;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14;
    font-family: Georgia;
}
nav ul li a:hover{
    color:#c0c0c0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
    margin-bottom: 20px;
}
.col-1 h3{
    font-size: 30px;
    font-weight: 100;
    color: #707070;
    margin-bottom: 20px;
}
.col-1 h4{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}
.col-1 p{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
}
.col-2{
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: center;
}
button{
    width: 250px;
    border: 0;
    padding: 10px 10px;
    outline: none;
    color: white;
    background: #003478;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition-delay: 0.5s;
}
button img{
    width: 100px;
    display: block;

}
button:hover{
    background: #A9A9A9;
    color: rgb(34, 34, 34);
}